
:root {
    --color-dark: #0A3C55;
    --color-dark-slate: #393E4F;

    --color-light: white;
    --color-light-slate: #EDEDED;

    --color-dark-text: #2A2E3B;
    --color-light-text: #EDEDED;
    
    --color-theme-text: #3ADEC1;
}
