<div class="wrapper-tmester">
    <header>
        <img src="/" id="logo" alt="Logo">
        <section>
            <input type="checkbox" id="darkmode">
            <label for="darkmode">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
            </label>
            <button><i class="fas fa-bars"></i> </button>
        </section>
    </header>
    
    <section class="tmester__menu">
        <div class="tmester__menu-wrapper">
            <div class="tmester__menu-content">
                <div class="tmester__menu-item">
                    <input type="checkbox" name="" id="">
                    <label for=""></label>
                </div>
            </div>
            <div class="tmester__menu-content">
                <div class="tmester__menu-item">
                    <input type="checkbox" name="" id="">
                    <label for=""></label>
                </div>
            </div>
        </div>
    </section>
    
    <section class="tmester__screen" id="random-controls">
        <img src="" alt="notes">
    </section>
    
    <section class="tmester__notes" id="notes-controls">
        <ul>
            <li>G</li>
            <li>D</li>
            <li>A</li>
            <li>E</li>
        </ul>
        <button>PLAY</button>
    </section>
    
    <section class="tmester__bpm-controls">
        <span>60</span>
        <div>
            <button> <i class="fas fa-angles-down"></i> </button>
            <button> <i class="fas fa-angle-down"></i> </button>
            <button> <i class="fas fa-angle-up"></i> </button>
            <button> <i class="fas fa-angles-up"></i> </button>
        </div>
    </section>
    
</div>
